<head><title>Jelly Donuts!</title></head><body>
<style>
 .lineup { background: #9dcef0; font-weight:bold; padding: 10px; }
 .coupon { background: #f5e788; font-weight:bold; padding: 10px; }
 .serve { background: #98f588; font-weight:bold; padding: 10px; }
 .quit { background: #fabbc5; font-weight:bold; padding: 10px; }
 .event { padding:10px; margin-bottom: 50px; border: solid 2px #aaaaaa; }
 table { width: 100%; }
 table td { width: 25%; }
</style>
<h1>JCCC Jelly Donuts Shoppe Simulator</h1>
<div class='event'>
<table><tr><td>Time: 8:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 8:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Mariam (1) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 8:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Jimmy (2) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 8:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 8:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Cody (3) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 8:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Ali (4) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 9:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Benjamin (5) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 9:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Benjamin (6) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 9:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer John (7) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 9:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Cecelia (8) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 10:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 10:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 10:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 10:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Jimmy (9) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 10:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 10:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 11:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Deokjin (10) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Cecelia (11) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 11:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Kayla (12) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 11:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 11:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Zach (13) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Audrey (14) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 12:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 12:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 12:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Paula (15) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 12:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Dan (16) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 12:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Cecelia (17) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 1:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Jolie (18) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Rachel (19) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Mohamed (20) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 1:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Kayla (21) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 1:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Deokjin (22) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 2:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Timothy (23) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 2:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 2:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 2:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 2:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 2:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Sen (24) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Chen (25) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 3:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Rachel (26) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 3:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Dan (27) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Uttam (28) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Mohamed (29) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Mehmet (30) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 4:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 4:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Sen (31) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Josh (32) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 4:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 4:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Ruslan (33) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Paula (34) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 5:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Cecelia (35) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Ahmed (36) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Andrea (37) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 5:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 5:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 6:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 6:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Cody (38) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 6:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 6:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Chen (39) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 6:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 6:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Deokjin (40) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 7:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 7:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 7:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 7:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Matt (41) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 7:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 7:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<p><strong>Store closed for the day!</strong></p>
<p>Total money earned: $0.00</p>
</body>
